.container{
  width: 100%;

}
.col{
  max-width: 250px
}
.btn.btn-primary.add-deals-button {
  background-color: #E46407; 
  border: solid 1px #E46407;
  color: white;
  padding: 6px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px ;
  margin-top: 30px;
  margin-bottom: 0;
  box-shadow: 2px 4px 6px 
}

.btn.btn-primary.add-deals-button:hover{
  background-color: white; 
  border: solid 1px #E46407;
  color: #E46407;
  padding: 6px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}

.deals-view-outer {
  display: flex;
  justify-content: center;
  height: 100%;
  margin-top: 15px;
  overflow-x: auto;
  width:100%;
  overflow-x: auto;
}

@media screen and (max-width: 1425px) {
  .deals-view-outer { 
  overflow-x: auto;
   
  } 
}

.deal-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 375px;
  outline: 1px solid;
}


.deal-view {
  outline: 1px solid;
  min-width:375px
}

.deals-column-header {
  border-top: 1px black solid;
  border-bottom: 1px black solid;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  background-color: #F5F5F5 ;
}

.deal-column-body {
  padding: 4px;
  width: 19vw;
  height: 56vh;
  min-width: 374.5px;
}

.deal-item {
  color: white;
  user-select: none;
  padding: 16px;
  margin: 12px 12px 20px 12px;
  min-height: 50px;
  box-shadow: 5px 5px 10px gray;
}

.deals-column-footer {
  border-top-width: 1px;
  border-top-color: black;
  border-top-style: solid;
  display: flex;
  justify-content: center;
  padding: 5px;
  background-color: white;
  border-bottom: 1px black solid;
  border-left: 1px black solid
}

.edit-deal{
  color: #0091AE;
  font-weight: 600;
  font-size: 18px;
}

.edit-deal:hover{
  cursor: pointer;
  text-decoration: underline
}

.deal-contents{
  color: black;
  font-size: 18px;
  font-style: italic;
}

.deal-container{
  width: 100%;
  
}




/* ::-webkit-scrollbar {
  width: 15px;
  height: 15px;
.edit-deal {
  text-decoration: underline;
}

.deal-amount {
  text-align: end;
}
*/
