.container{
  width: 100%;

}
.col{
  max-width: 250px
}
.btn.btn-primary.add-deals-button {
  background-color: #E46407; 
  border: solid 1px #E46407;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px ;
  margin-top: 30px;
  margin-bottom: 0;
}

.btn.btn-primary.add-deals-button:hover{
  background-color: white; 
  border: solid 1px #E46407;
  color: #E46407;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
}



.deals-view-outer {
  display: flex;
  justify-content: center;
  height: 100%;
  margin-top: 15px;
}
.deal-area {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.deal-view {
  outline: 1px solid;
}

.deals-column-header {
  border-bottom-width: 1px;
  border-bottom-color: black;
  border-bottom-style: solid;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  background-color: #cbd6e2;
}

.deal-column-body {
  padding: 4px;
  width: 19vw;
  height: 56vh;
  min-width: 150px;
}

.deal-item {
  color: white;
  user-select: none;
  padding: 16px;
  margin: 0px 0px 8px 0px;
  min-height: 50px;
  font-size: 14px;
}

.deals-column-footer {
  border-top-width: 1px;
  border-top-color: black;
  border-top-style: solid;
  display: flex;
  justify-content: center;
  padding: 5px;
  background-color: white;
}



/* ::-webkit-scrollbar {
  width: 15px;
  height: 15px;
.edit-deal {
  text-decoration: underline;
}

.deal-amount {
  text-align: end;
}
*/
