a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

.pag-text-style {
  color: #0091ae;
  font-weight: 700;
}

.center-pag-element.pag-text-style:hover {
  color: #0091ae;
  font-weight: 700;
  background-color: white;
}

.pag-text-style:hover {
  color: #0091ae;
  font-weight: 700;
}

.previous {
  background-color: #f5f5f5;
  color: black;
}

.next {
  background-color: #f5f5f5;
  color: black;
}

.boxed {
  display: inline-block;
  background-color: #e5f5f8;
  border: 1px solid #7fd1de;
  margin: 10px;
  padding: 5px 14px;
}

.container-for-a-tags {
  text-align: center;
}

.a-tag-children {
  margin: auto;
}

.arrow {
  text-decoration: none;
  display: inline-block;
  padding: 6px 14px;
  border: none;
}

.arrow:hover {
  background-color: #e46407;
  color: white;
  cursor: pointer;
  padding: 6px 15px;
}

#pagination {
  display: flex;
  padding-bottom: 5vh;
  justify-content: center;
  padding-top: 5vh;
  width: 100%;
}
