a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

a:hover {
  background-color: #e46407;
  color: white;
  cursor: pointer;
}

.previous {
  background-color: #f1f1f1;
  color: black;
}

.next {
  background-color: #f1f1f1;
  color: black;
}

.round {
  border-radius: 50%;
}

.boxed {
  display: inline-block;
  background-color: #e5f5f8;
  border: 1px solid #7fd1de;
  margin: 10px;
  padding: 5px;
}

.container-for-a-tags {
  text-align: center;
}

.a-tag-children {
  margin: auto;
}
