body {
  margin: 10px;
}

.float-container {
  border: 3px solid #fff;
  padding: 20px;
}

.float-child {
  width: 50%;
  float: left;
  padding: 10px;
  border: none;
}  

.btn-return:hover {
  background-color: #E46407;
}

.btn-return {
  background-color: #E46407;
  color: #F5F5F5;
  font-weight: 700;
  border: #cbd6e2;
  margin: 15px;
}

.container-deals {
  position: relative;
  display: inline-flex;
}

.deals-title {
  color: #E46407;
}

.deals {
  background-color: #F5F5F5;
}

h2 {
  margin: 10px 10px 30px 10px;
  text-align: center;
}

h4 {
  margin: 10px;
  text-align: center;
}

h6 {
  margin: 10px 10px 10px 40px;
}

p {
  margin-top: 20px;
  font-style: italic;
}

.table {
  display: flexbox;
  margin: 10px auto;
}

.table-head {
  background-color: #CBD6E2;
}

.table-row {
  background-color: #F5F5F5 !important;
}

a {
  color: #0091AE !important;
  font-weight: 700;
  text-decoration: none;
}


.modal-open {
  padding-right: 0px !important;
}
