body {
  margin: 10px;
}

.float-container {
  border: 3px solid #fff;
  padding: 20px;
}

.float-child {
  width: 50%;
  float: left;
  padding: 10px;
  border: none;
}

.btn-return:hover {
  background-color: #e46407;
}

.btn-return {
  background-color: #e46407;
  color: #f5f5f5;
  font-weight: 700;
  border: #cbd6e2;
  margin: 15px;
}

.container-deals {
  position: relative;
  display: inline-flex;
}

.deals-title {
  color: #e46407;
}

.deals {
  background-color: #f5f5f5;
}

h2 {
  margin: 10px 10px 30px 10px;
  text-align: center;
}

h4 {
  margin: 10px;
  text-align: center;
}

p {
  margin-top: 20px;
  font-style: italic;
}

.table {
  display: flexbox;
  margin: 10px auto;
}

.table-head {
  background-color: #cbd6e2;
}

.table-row {
  background-color: #f5f5f5 !important;
}

a {
  color: #0091ae !important;
  font-weight: 700;
  text-decoration: none;
}

.modal-open {
  padding-right: 0px !important;
}

.box-flex {
  display: flex;
  justify-content: center;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.center {
  display: flex;
  justify-content: center;
}
