.container{
  width: 100%;

}
.col{
  max-width: 250px
}
.btn.btn-primary.add-company-button {
  background-color: #E46407; 
  border: solid 1px #E46407;
  color: white;
  padding: 6px 14px;
  text-align: center;
  display: inline-block;
  font-size: 18px ;
  margin-top: 30px;
  margin-bottom: 0;
  box-shadow: 2px 4px 6px 
}

.btn.btn-primary.add-company-button:hover{
  background-color: white; 
  border: solid 1px #E46407;
  color: #E46407;
  padding: 6px 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
}

.company-name:hover {
  text-decoration: underline;
}



