.nav {
  margin-top: 30px;
}

.tab-pane {
  margin: 10px auto;
  background-color: #f5f5f5;
}

.nav-tabs .nav-link {
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
  border: 1px solid lightgrey;
  border-bottom: none;
  background-color: #f5f5f5 !important; /* overwrites bootstrap default */
  color: #e45407 !important; /* overwrites bootstrap default */
}

.nav-tabs .nav-link.active {
  border: 1px solid #e45407;
  border-bottom-color: #f5f5f5;
}

.nav.nav-tabs {
  border-bottom: solid #e45407 1px;
}
